<div class="post">
<div class="row text">
	<div class="col-md-8 mx-auto">
<div class="card">
<%= image_tag post.image.url(:square), class: "card-img-top" %>
<div class="card-body">
<p  class= "card-title"><%= post.caption %></p>
</div>
</div>
</div>
</div>
<hr>
</div>